<h2>Sign up</h2>
<%= turbo_frame_tag "user_authentication" do %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autocomplete: "email", :class => "border border-black rounded-sm focus:ring-blue-500 pl-1" %>
    </div>

    <div class="field">
      <%= f.label :username %><br />
      <%= f.text_field :username, autocomplete: "username", :class => "border border-black rounded-sm focus:ring-blue-500 pl-1" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", :class => "border border-black rounded-sm focus:ring-blue-500 pl-1"  %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => "border border-black rounded-sm focus:ring-blue-500 pl-1"  %>
    </div>
    <br>
    <div class="actions">
      <%= f.submit "Sign up", :class => "bg-blue-500 px-8 py-1 text-white rounded-xl cursor-pointer focus:text-gray-400 focus:outline-none" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
<% end %>
