<div class="w-full h-20 bg-gray-500 flex items-center">
  <div class="w-20 h-full rounded-full bg-<%= @random_color %>-500 flex justify-center items-center text-2xl">
    <%= user.username.chr %>
  </div>
  <h2 class="pl-10 text-2xl"> <%= user.username %> </h2>
  <%= form_with url: users_path, method: "post" do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :friend_id, value: user.id %>
    <%= submit_tag("Add Friend")%>
  <% end %>
</div>
