<div class="w-4/5 h-screen flex items-center mx-auto">
  <div class="flex flex-col w-1/2">
    <div class="w-4/5">
      <h1 class="text-6xl bg-gradient-to-r from-green-400 to-blue-500 bg-clip-text text-transparent"> Messege securely, <br> and with privacy </h1>
      <h2 class="py-4"> Messenger app built with ruby on rails and hotwire </h2>
      <br>
      <% unless current_user %>
        <%= turbo_frame_tag "user_authentication" do %>
          <div class="flex flex-col">
            <%= link_to "Create Account", new_user_registration_path, :class => "w-1/3 mt-8 text-center py-1 rounded-xl text-white bg-blue-500" %>
            <%= link_to "Sign in", new_user_session_path, :class => "mt-4" %>
          </div>
        <% end %>
      <% else %>
        <%= turbo_frame_tag "user_authentication" do %>
          <div class="flex">
            <h3 class="text-lg pr-1"> Signed in as <%= current_user.email.split("@").shift() %></h3>
            <a class="text-lg border-b border-black hover:text-blue-500" href="<%= signed_in_home_path %> " target="_top">Continue to messeges </a>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
