<%= turbo_frame_tag dom_id(room) do %>
  <li class="bg-gray-600 h-20 flex justify-between">
    <%= link_to room, target: "_top" do %>
      <h2 class="pt-8 pl-4"> <%= room.name %> </h2>
    <% end %>
    <div class="flex">
      <%= link_to "edit", edit_room_path(room), :class => "w-12 h-full text-center flex items-center" %>
      <%= button_to "X", room, method: :delete, :class => "bg-transparent w-12 h-full text-red-500 text-center" %>
    </div>
  </li>
<% end %>
